/* ================================================== */
/* Start Variables */
:root{
    --main-color:#10cab7;
    --secondary-color: #2c4755;
}
/* End Variables */

/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}

.container{
    padding-left:15px ;
    padding-right:15px ;
    margin-left: auto;
    margin-right: auto;

}
/* Small Screen */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* Medium Screen */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* Large Screen */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* -------------- */
/* Start Components Section */
.common-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.common-heading + p{
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media(max-width: 767px) {
    .common-heading {
        font-size: 60px;
    }
    .common-heading + p{
        margin-top: -20px;
    }
}
/* End Components Section */
/* ================================================= */

/* Start Header Section */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ---- Selecting Logo ---- */
.header .logo{
    width: 60px;
}
/* ---- Selecting Links which is over the burger menu ---- */
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
/* ---- Selecting Icon (burger menu) ---- */
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

}
/* ---- Editing Icon (burger menu) ---- */
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: .3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
/* ---- Selecting Ul inside the burger menu ---- */
.header .links ul{
list-style: none;
margin: 0;
padding: 0;
background-color: #F6f6f6;
position: absolute;
right: 0;
min-width: 200px;
top: calc(100% + 15px);
display: none; 

}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul{
    display: block;
    z-index: 1;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* End Header Section */

/* ================================================= */

/* Start Landing Section */
.landing{
    position: relative;
    background-image: url("/imgs/background-intro.jpeg");
    background-size: cover;
    height: calc(100vh - 64px);
}
.landing .intro-text{
position: absolute;
left: 50%;
top:50%;
transform: translate(-50%, -50%);
text-align: center;
width: 320px;
max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    
}
/* End Landing Section */

/* ================================================= */

/* Start Feature Section */
.feature-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F6f6f6;
    text-align: center;
}
/* Selecting all icons */
.feature-section i{
    font-size: 50px;
    color: var(--main-color);
}
.feature-section .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
}
.feature-section .feature-item p{
    margin-bottom: 30px;
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.feature-section .feature-item h3{
    font-weight: 800;
    margin-top: 30px;
    
}
/* End Feature Section */
/* ================================================= */

/* Start Services Section */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .service-item{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .service-item{
        flex-direction: column;
        text-align: center;
    }
}
/* Selecting the Icon */
.services .services-content .service-item i{
color: var(--main-color);
flex-basis: 60px;
}
/* Selecting the text */
.services .services-content .service-item .text{
    flex: 1;
}
.services .services-content .service-item .text h3{
    margin: 0 0 20px;
}
.services .services-content .service-item .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image{
text-align: center;
position: relative;
}
.services .services-content .image::before{
    content: '';
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.services .services-content .image img{
width: 260px;
    }
@media (max-width:1199px) {
    .image-media{
        display: none;
    }
}
/* End Services Section */